



p {
    text-align: center;
    margin-bottom: 0;
    font-family:Montserrat;
}

.Model3 {
    font-size: 50px;
    font-weight: bold;
}

.order {
    font-size: 18px;

}

.Touchless {
    text-decoration: underline;
}






