.thumbnail {
    width: 300px;
    height: 300px;
    object-fit:contain;
    object-position: bottom;
    border-width: 2px;
    border-style: solid;
    border-color: red;



    }

    .search-bar {
        font-size: 20px;
        margin-left:12px

    }


    .thumbnail2 {
        width: 200px;
        height:200px;
        border-radius: 100px;
        object-position: center;
        object-fit: cover;
        border-width:2px;
        border-style: solid;
        border-color: red;
    }
    .thmbnails2:hover {
    object-fit: contain;
        border-width:2px;
        border-style: solid;
        border-color: red;
    }

    .textbox {
        width: 200px;
        height: 30px;
        border-radius: 10px;
        border-color: rgb(230, 229, 229);
    }

    .textbox2 {
        width:400px;
        height:28px;
        border-radius: 20px;
        border-style: none;
        box-shadow: 1px 1px 3px 1px rgb(235, 230, 230);

    }

        .Email {
            font-size: 12px;
            margin-bottom: 0;
            margin-top: 0;
        }
        
        
        .Emailtextbox {
            width: 300px;
            height:20px;
            border-width: 2px;
            border-color: rgb(192, 191, 191);
            border-radius: 3px;
            margin-top: 7px;
            margin-bottom: 0px;
    
        }

        .Policy {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 0px;
        }
       


        .Wow {
            width:60px;
            height: 60px;
            border-radius: 100px;
            vertical-align: middle;

        }
        .Twitter-Textbox {
            width: 200px;
            height: 40px;
            border-style: none;
            vertical-align: middle;
            font-size: 15px;
            margin-left: 5px;
            margin-right: 20px;

        }